<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/home">Agro grocer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" (click) = "homeFunction()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click) = "myAccountFunction()">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/cart-view">Cart</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-3" type="search" placeholder="Search for products" aria-label="Search" style="width: 600px; height: 30px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Hello {{username}} <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink = "/order-list">
                  My Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/product-list">
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink = "/notification">
                  All Notification
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click) = "sellProductFunction()">
                  Sell product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click) = "LogoutFunction()">
                  Log out
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Personal information</h1>
          </div>
          <div class="row justify-content-left">
              <form (submit) = "personalInfo()">
                  <div class="form-group" *ngIf = "!check">
                    <input type="text" name="name" id="name" [(ngModel)] = "name"  placeholder="Username" class="form-control">
                  </div>
                  <div class="form-group"  *ngIf = "!check">
                    <input type="text" name="phone" id="phone"  [(ngModel)] = "phone"   placeholder="Mobile Number" class="form-control">
                  </div>
                  <div class="form-group"  *ngIf = "!check">
                    <input type="text" name="doornumber" id="doorno"  [(ngModel)] = "doorno"   placeholder="Door Number" class="form-control">
                  </div>
                  <div class="form-group"  *ngIf = "!check">
                    <input type="text" name="street" id="street"  [(ngModel)] = "street"   placeholder="Street Name" class="form-control">
                  </div>
                  <div class="form-group"  *ngIf = "!check">
                    <input type="text" name="district" id="district"  [(ngModel)] = "district"   placeholder="District" class="form-control">
                  </div>
                  <div *ngFor = "let data of users">
                    <div class="form-group" *ngIf = "check">
                      <input type="text" name="name" id="name" [(ngModel)] = "name"  value="{{username}}" class="form-control">
                    </div>
                    <div class="form-group"  *ngIf = "check">
                      <input type="text" name="phone" id="phone"  [(ngModel)] = "phone"   value="{{data.mobile}}" class="form-control">
                    </div>
                    <div class="form-group"  *ngIf = "check">
                      <input type="text" name="doornumber" id="doorno"  [(ngModel)] = "doorno"   value="{{data.doorno}}" class="form-control">
                    </div>
                    <div class="form-group"  *ngIf = "check">
                      <input type="text" name="street" id="street"  [(ngModel)] = "street"   value="{{data.street}}" class="form-control">
                    </div>
                    <div class="form-group"  *ngIf = "check">
                      <input type="text" name="district" id="district"  [(ngModel)] = "district"   value="{{data.district}}" class="form-control">
                    </div>
                  </div>
                  <div class="row" *ngIf = "check">
                    <input type="submit" name="update" value="update"  class="btn btn-success">
                  </div>
                  <div class="row" *ngIf = "!check">
                    <input type="submit" name="add" value="Add"  class="btn btn-success">
                  </div>
              </form>
            </div>
        </main>
      </div>
    </div>
  </body>
</html>

